* {
    font-family: monospace;
    color: black;
    background-color: teal;
}
header{
    background-color: coral;
    padding: 10px;
    text-align: center;
    border: 5px black solid;
}
header h1{
    font-size: 60px;
    margin: 0px;
    background-color: coral;
}

body {
    margin: 0px;
}
nav {
    display: flex;
    background-color: teal;
    justify-content: flex-end;
    border-left: 5px black solid;
    border-right: 5px black solid;
    border-bottom: 5px black solid;
}

nav a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

nav a:hover {
    background-color: coral;
}

nav a:active {
    color: coral;
}

.about {
    display: inline-block;
    padding: 5px;
    background-color: teal;
    border: 5px black solid;
    border-top: 0px black solid;
    text-align: center;
    font-size: 18px;
}


h2 {
    background-color: coral;
    padding: 10px;
    text-align: center;
    border: 5px black solid;
    font-size: 32px;
}

.about p{
    position: flex;
    width: 80%;
    display: inline-flex;
    text-align: center;
}

#photome {
    display: inline-flex;
    padding: 10px;
}

.work {
    background-color: teal;
    padding: 5px;
    border: 5px black solid;
}

.work h2 {
    font-size: 32px;
}

.project {
    flex: 1 0 200px;
    padding: 5px;
    padding-bottom: 0;
    text-align: center;
    border: solid rgb(42, 43, 95);
    border-width: 1px;
    background-color: teal;
    font-size: 16px;   
}

.project header {
    background-color: rgba(181, 237, 247, 0.486);
}

.project img {
    width: 100%;
    height: 200px;
    min-width: 200px;
    height: auto;
    padding-top: 30px;
}

.project:hover {
    position:relative;
    font-weight: bolder;
    font-style: italic;
    transform: scale(1.1);
}

/* .project:first-of-type {
    flex-basis: 100%;
} */

.project:first-of-type img{
    height: 200px;
    object-fit: cover;   
}

.underline {
    text-decoration: none;
}
.contact {
    background-color: teal;
    border: 5px;
    display: inline;
    padding: 5px;
    border: 5px solid black;
}


.contact1 {
    display: inline-flex;
    background-color: teal;
    text-align: center;
    border: solid rgb(134, 231, 231);
    border-width: 1px;
    font-size: 20px;
    padding: 5px;
}

.contact1 a:hover {
    text-decoration: underline;
}


.contact1 a {
    text-decoration: none;
}
#reach {
    text-align: center;
}
#test {
    flex: 1 0 200px;
  border-width: 1px;
  display: flex;
  flex-wrap: wrap;
}

#aboutmetext {
    font-size: 20px;
}



